:root {
  --col-primary-cyan: hsl(180, 66%, 49%);
  --col-primary-dark-violet: hsl(257, 27%, 26%);

  --col-secondary-red: hsl(0, 87%, 67%);

  --col-neutral-gray: hsl(0, 0%, 75%);
  --col-neutral-grayish-violet: hsl(257, 7%, 63%);
  --col-neutral-dark-blue: hsl(255, 11%, 22%);
  --col-neutral-dark-violet: hsl(260, 8%, 14%);
}
