*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::placeholder {
  color: var(--col-neutral-dark-blue);
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
